In [3]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [4]:
# Import necessary libraries
import pandas as pd

# Load the dataset from Excel file
file_path = 'Online_Retail.xlsx'  # Make sure the file is in the same directory as your notebook
data = pd.read_excel(file_path)

# Display the first few rows of the dataset
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
# Check for missing values
missing_values = data.isnull().sum()
print("Missing values in each column:")
print(missing_values)

# Drop rows with missing values
data_cleaned = data.dropna()

# Verify that missing values are handled
missing_values_after_cleaning = data_cleaned.isnull().sum()
print("\nMissing values after cleaning:")
print(missing_values_after_cleaning)

Missing values in each column:
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Missing values after cleaning:
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [8]:
# Ensure data_cleaned is a separate DataFrame
data_cleaned = data.dropna().copy()

# Calculate total purchase amount for each customer
data_cleaned['TotalPurchase'] = data_cleaned['Quantity'] * data_cleaned['UnitPrice']

# Group data by CustomerID to calculate features
customer_features = data_cleaned.groupby('CustomerID').agg({
    'InvoiceNo': 'nunique',  # Frequency: Number of unique invoices
    'TotalPurchase': 'sum',  # Monetary: Total purchase amount
    'StockCode': 'count'     # Quantity: Total number of items purchased
}).reset_index()

# Rename columns for clarity
customer_features.rename(columns={
    'InvoiceNo': 'Frequency',
    'TotalPurchase': 'Monetary',
    'StockCode': 'Quantity'
}, inplace=True)

# Display the first few rows of the customer features
customer_features.head()

   CustomerID  Frequency  Monetary  Quantity
0     12346.0          2      0.00         2
1     12347.0          7   4310.00       182
2     12348.0          4   1797.24        31
3     12349.0          1   1757.55        73
4     12350.0          1    334.40        17

In [9]:
# Import necessary libraries
from sklearn.preprocessing import StandardScaler

# Select the features for clustering
features = customer_features[['Frequency', 'Monetary', 'Quantity']]

# Standardize the features
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

# Display the first few rows of the scaled features
scaled_features[:5]

array([[-0.32936215, -0.23100099, -0.3917197 ],
       [ 0.20610242,  0.29343167,  0.38265697],
       [-0.11517632, -0.01231622, -0.26695902],
       [-0.43645506, -0.01714563, -0.08627113],
       [-0.43645506, -0.19031183, -0.32718831]])